<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.anhTom2000.dao.TagMapper">

    <resultMap id="tagMap" type="com.github.anhTom2000.entity.Tag">
        <id column="tag_id" property="tagId"/>
        <result column="tag_name" property="tagName"/>
        <result column="tag_bgColor" property="tagBgColor"/>
    </resultMap>

    <insert id="addTag" useGeneratedKeys="true">
        INSERT INTO tb_tag(tag_id, tag_name, tag_bgColor, user_id) VALUES (#{tag.tagId},#{tag.tagName},#{tag.tagBgColor},#{userId});
    </insert>

    <select id="findAllTag" resultMap="tagMap" resultType="java.util.List">
        SELECT tag_id,tag_name,tag_bgColor FROM tb_tag WHERE user_id = #{userId};
    </select>

    <update id="updateTagName" useGeneratedKeys="true">
        UPDATE tb_tag SET tag_name = #{tagName} WHERE tag_id = #{tagId};
    </update>

    <update id="updateTagColor" useGeneratedKeys="true">
        UPDATE tb_tag SET tag_bgColor =#{tagColor} WHERE tag_id = #{tagId};
    </update>

    <delete id="deleteTag" parameterType="java.lang.Long">
        DELETE FROM tb_tag WHERE tag_id = #{tagId};
    </delete>


</mapper>