<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.anhTom2000.dao.UserMapper">

    <!--用户实体全属性映射-->
    <resultMap id="userMap" type="com.github.anhTom2000.entity.User">
        <id column="userid" property="userId" javaType="java.lang.Long"/>
        <result column="username" property="username" javaType="java.lang.String"/>
        <result column="password" property="password" javaType="java.lang.String"/>
        <result column="avatar_url" property="avatarUrl" javaType="java.lang.String"/>
        <result column="event_count" property="eventCount" javaType="java.lang.Integer"/>
        <result column="tag_count" property="tagCount" javaType="java.lang.Integer"/>
        <result column="event_finishedCount" property="event_finishedCount" javaType="java.lang.Integer"/>
        <result column="phone" property="phone" />
        <result column="qq" property="qq"/>
        <result column="email" property="email" javaType="java.lang.String"/>
        <result column="description" property="description" javaType="java.lang.String"/>
        <result column="createTime" property="createTime" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <insert id="register" useGeneratedKeys="true" parameterType="com.github.anhTom2000.entity.User">
        INSERT INTO tb_user (`userid`, `username`, `password`, `email`, `createTime`)
        VALUES (#{user.userId}, #{user.username}, #{user.password}, #{user.email}, #{user.createTime});
    </insert>

    <select id="findUserById" parameterType="java.lang.Long" resultType="com.github.anhTom2000.entity.User"
            resultMap="userMap">
        SELECT userid,
               username,
               password,
               avatar_url,
               event_count,
               tag_count,
               event_finishedCount,
               email,
               phone,
               qq,
               description,
               createTime
        FROM tb_user
        WHERE userid = #{userId};
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultType="com.github.anhTom2000.entity.User"
            resultMap="userMap">
        SELECT userid,
               username,
               password,
               avatar_url,
               password,
               event_count,
               tag_count,
               event_finishedCount,
               email,
               description,
               createTime
        FROM tb_user
        WHERE username = #{username};
    </select>

    <update id="changePassword" useGeneratedKeys="true">
        UPDATE tb_user SET password = #{password} WHERE userid = #{userId};
    </update>
    <select id="findUserByNameAndEmail" resultMap="userMap" resultType="com.github.anhTom2000.entity.User">
      SELECT userid,
             username,
             avatar_url,
             password,
             event_count,
             tag_count,
             event_finishedCount,
             email,
             description,
             createTime
        FROM tb_user WHERE email = #{email} AND username = #{username};
    </select>
    <update id="updateUserAvator" useGeneratedKeys="true">
        UPDATE tb_user
        SET avatar_url = #{avator}
        WHERE userid = #{userId};
    </update>

    <update id="bind" useGeneratedKeys="true">
        <trim suffixOverrides=",">
            UPDATE tb_user
            <if test="phone!=null">
                SET phone = #{phone}
            </if>
            <if test="qq!=null">
                SET qq = #{qq}
            </if>
            <if test="description!=null">
                SET description = #{description}
            </if>
            where userid = #{userId};
        </trim>
    </update>

    <update id="bindEmail" useGeneratedKeys="true">
        UPDATE tb_user SET email = #{email} WHERE userid = #{userId};
    </update>

    <update id="updateUsername" useGeneratedKeys="true" >
        UPDATE tb_user SET username = #{username} WHERE userid = #{userId};
    </update>
</mapper>